@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: local(""),
    url("../fonts/public-sans-v14-latin-100.woff2") format("woff2"),
    url("../fonts/public-sans-v14-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/public-sans-v14-latin-500.woff2") format("woff2"),
    url("../fonts/public-sans-v14-latin-500.woff") format("woff");
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 2px dotted linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: url(../images/hero-tablet.jpg);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}

body {
  height: 100%;
  font-family: "PublicSans";
  font-size: 1.8rem;
  line-height: 1.56;
  color: #9597a5;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5rem;
  padding-left: 5rem;
}

.main {
  flex-grow: 1;
}

.site-btn {
  display: inline-block;
  font-family: "Public Sans";
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2;
  color: #ffffff;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 2.2rem;
  padding: 8px 35px;
}
.site-btn:hover {
  opacity: 0.7;
}
.site-btn:active {
  opacity: 0.4;
}

@media screen and (max-width: 1225px) {
  .hero__container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1225px) {
  .hero img {
    display: none;
  }
}
@media screen and (max-width: 1225px) {
  .hero__wrapper {
    text-align: center;
  }
}

.choose .container {
  justify-content: center;
}
@media screen and (max-width: 1225px) {
  .choose--title {
    text-align: center;
  }
}
@media screen and (max-width: 1225px) {
  .choose--desc {
    text-align: center;
  }
}
.choose__list {
  display: flex;
  gap: 3rem;
}
@media screen and (max-width: 1225px) {
  .choose__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1225px) {
  .articles__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1225px) {
  .articles--title {
    text-align: center;
  }
}
.articles__list {
  display: flex;
  gap: 3rem;
}
@media screen and (max-width: 1225px) {
  .articles__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header {
  background: #ffffff;
}
.header .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .sitenav__list {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.header .sitenav__link {
  position: relative;
  display: inline-block;
  font-family: "Public Sans";
  font-size: 2rem;
  line-height: 1.14;
  color: #9597a5;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.header .sitenav__link:hover {
  color: #2d314d;
}
.header .sitenav__link:hover::after {
  color: #2d314d;
  width: 100%;
}
.header .sitenav__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
@media screen and (max-width: 769px) {
  .header .sitenav {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  .header-btn {
    display: none;
  }
}
.header .sitenav-hidden {
  display: none;
  position: absolute;
  background: #ffffff;
  padding: 3.2rem;
  text-align: center;
  top: 8.8rem;
  border-radius: 4px;
  width: 90%;
}
.header .sitenav-hidden ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.header .sitenav-hidden ul li {
  margin: 0;
}
.header .sitenav-hidden ul a {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.1666;
  letter-spacing: -0.14;
  color: #9597a5;
  padding: 0;
}

@media screen and (max-width: 769px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding-bottom: 2.2rem;
    padding-bottom: 2.2rem;
  }
}

.overlay {
  background: linear-gradient(
    180deg,
    #2d314d 0%,
    rgba(45, 49, 77, 0.0001) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  display: none;
}

.overlay.show-nav {
  display: block;
}

.hero {
  position: relative;
  background-color: #fafafa;
  padding-top: 17rem;
  padding-bottom: 17rem;
  background-position: right top;
}

@media screen and (max-width: 1225px) {
  .hero {
    background: none;
  }
}
@media screen and (max-width: 769px) {
  .hero {
    padding-bottom: 5rem;
    background-position: top center;
  }
}
@media screen and (max-width: 450px) {
  .hero {
    background-size: contain;
  }
}
@media screen and (max-width: 769px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}
.hero__wrapper {
  width: 100%;
  max-width: 450px;
}
@media screen and (max-width: 769px) {
  .hero__wrapper {
    text-align: center;
    margin-top: 7rem;
  }
}
.hero--title {
  font-family: "Public Sans";
  font-weight: 100;
  font-size: 5.6rem;
  line-height: 1.14;
  letter-spacing: -1px;
  color: #2d314d;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 769px) {
  .hero--title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 1.4rem;
  }
}
.hero--subtitle {
  font-family: "Public Sans";
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.28125px;
  color: #9597a5;
  margin-bottom: 3.6rem;
}

.choose {
  background-color: #f4f5f7;
}
.choose__container {
  display: flex;
  flex-direction: column;
  padding-top: 9.6rem;
  padding-bottom: 9.4rem;
}
@media screen and (max-width: 769px) {
  .choose__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
}
@media screen and (max-width: 769px) {
  .choose__wrapper {
    text-align: center;
  }
}
.choose--title {
  font-family: "Public Sans";
  font-weight: 100;
  font-size: 4rem;
  line-height: 1.6;
  letter-spacing: -0.714286px;
  color: #2d314d;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 769px) {
  .choose--title {
    margin-bottom: 1.4rem;
  }
}
.choose--desc {
  font-family: "Public Sans";
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.28125px;
  color: #9597a5;
  margin-bottom: 7.2rem;
}
@media screen and (max-width: 769px) {
  .choose--desc {
    margin-bottom: 5.6rem;
  }
}
.choose__list {
  display: flex;
  gap: 3rem;
}
@media screen and (max-width: 769px) {
  .choose__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.choose__item {
  width: 100%;
  max-width: 255px;
}
.choose__item img {
  margin-bottom: 5.6rem;
}
@media screen and (max-width: 769px) {
  .choose__item img {
    display: inline-block;
    text-align: center;
    margin-bottom: 2.4rem;
  }
}
.choose__item--title {
  font-family: "Public Sans";
  font-weight: 100;
  font-size: 2.4rem;
  line-height: 1.17;
  letter-spacing: -0.428571px;
  color: #2d314d;
  margin-bottom: 2.6rem;
}
@media screen and (max-width: 769px) {
  .choose__item--title {
    margin-bottom: 1.6rem;
  }
}
.choose__item--desc {
  font-family: "Public Sans";
  font-size: 1.6rem;
  line-height: 1.62;
  letter-spacing: -0.25px;
  color: #9597a5;
}

.articles {
  background-color: #fafafa;
}
.articles__container {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
@media screen and (max-width: 769px) {
  .articles__container {
    padding-top: 8.8rem;
    padding-bottom: 8.8rem;
  }
}
.articles--title {
  font-family: "Public Sans";
  font-weight: 100;
  font-size: 4rem;
  line-height: 1.6;
  letter-spacing: -0.714286px;
  color: #2d314d;
  margin-bottom: 4rem;
}
@media screen and (max-width: 769px) {
  .articles--title {
    font-size: 3.2rem;
    line-height: 1.18;
    text-align: center;
  }
}
.articles__list {
  display: flex;
  gap: 3rem;
}
@media screen and (max-width: 769px) {
  .articles__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.articles__item {
  width: 100%;
  max-width: 255px;
  background: #ffffff;
  border-radius: 5px;
}
@media screen and (max-width: 769px) {
  .articles__item {
    max-width: 327px;
  }
}
.articles__item--img {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 769px) {
  .articles__item--img {
    display: none;
  }
}
.articles__item .mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  .articles__item .mobile {
    display: inline-block;
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 327px;
  }
}
.articles__item--subtitle {
  font-family: "PublicSans";
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: -0.15625px;
  color: #9597a5;
  margin-bottom: 0.8rem;
  padding-left: 2.4rem;
}
@media screen and (max-width: 769px) {
  .articles__item--subtitle {
    padding-left: 3.1rem;
  }
}
.articles__item--title {
  font-family: "Public Sans";
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.25;
  letter-spacing: -0.285714px;
  color: #2d314d;
  margin-bottom: 0.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
@media screen and (max-width: 769px) {
  .articles__item--title {
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }
}
.articles__item--desc {
  font-family: "Public Sans";
  font-size: 1.3rem;
  line-height: 1.38;
  letter-spacing: -0.203125px;
  color: #9597a5;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 2.4rem;
}
@media screen and (max-width: 769px) {
  .articles__item--desc {
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }
}

.footer {
  background: #2d314d;
}
.footer .footer__container {
  display: flex;
  justify-content: center;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}
@media screen and (max-width: 769px) {
  .footer .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 769px) {
  .footer .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.footer .footer__left .footer__left--links {
  display: inline-block;
}
.footer .footer__left .footer__left--links svg path:hover {
  fill: #30c88f;
}
@media screen and (max-width: 769px) {
  .footer .footer__left .footer__left--links {
    margin-bottom: 3.2rem;
  }
}

.footer .footer__info {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media screen and (max-width: 769px) {
  .footer .footer__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 160px;
  }
}
.footer .footer__info .footer__info-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
@media screen and (max-width: 769px) {
  .footer .footer__info .footer__info-1 {
    margin-right: 0;
    align-items: center;
    justify-content: center;
  }
}

.footer .footer__info .footer__info--link {
  font-family: "Public Sans";
  font-size: 1.5rem;
  line-height: 1.73;
  letter-spacing: -0.234375px;
  color: #ffffff;
}
.footer .footer__info .footer__info--link:hover {
  color: #30c88f;
}
@media screen and (max-width: 769px) {
  .footer .footer__info .footer__info--link {
    margin-top: 3.2rem;
  }
}
.footer .footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 769px) {
  .footer .footer__right {
    align-items: center;
    justify-content: center;
  }
}
.footer .footer-btn {
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 769px) {
  .footer .footer-btn {
    margin-top: 2.4rem;
  }
}
.footer .about-site {
  font-family: "Public Sans";
  font-size: 1.5rem;
  line-height: 1.73;
  text-align: right;
  letter-spacing: -0.234375px;
  color: #ffffff;
  opacity: 0.5;
} /*# sourceMappingURL=main.css.map */
