.footer {
  background: #2d314d;
  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    @include responsive(tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  .footer__left {
    @include responsive(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .footer__left--links {
      display: inline-block;
      & svg path:hover {
        fill: #30c88f;
      }
      @include responsive(tablet) {
        margin-bottom: 3.2rem;
      }
    }
  }
  .site-logo {
    margin-bottom: 5.5rem;
    @include responsive(tablet) {
      margin-bottom: 3.5rem;
    }
  }
  .footer__info {
    display: flex;
    width: 100%;
    max-width: 350px;
    @include responsive(tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 160px;
    }
    .footer__info-1 {
      display: flex;
      flex-direction: column;
      margin-right: 3rem;
      width: 100%;
      max-width: 160px;
      @include responsive(tablet) {
        margin-right: 0;
        align-items: center;
        justify-content: center;
      }
    }
    .footer__info-2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 160px;
      @include responsive(tablet) {
        align-items: center;
        justify-content: center;
      }
    }
    .footer__info--item:not(:last-child) {
      margin-bottom: 0.8rem;
    }
    .footer__info--item {
      @include responsive(tablet) {
        margin-top: 0.8rem;
      }
    }
    .footer__info--link {
      font-family: "Public Sans";
      font-size: 1.5rem;
      line-height: 1.73;
      letter-spacing: -0.234375px;
      color: #ffffff;
      &:hover {
        color: #30c88f;
      }
      @include responsive(tablet) {
        margin-top: 3.2rem;
      }
    }
  }
  .footer__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include responsive(tablet) {
      align-items: center;
      justify-content: center;
    }
  }
  .footer-btn {
    margin-bottom: 2.4rem;
    @include responsive(tablet) {
      margin-top: 2.4rem;
    }
  }
  .about-site {
    font-family: "Public Sans";
    font-size: 1.5rem;
    line-height: 1.73;
    text-align: right;
    letter-spacing: -0.234375px;
    color: #ffffff;
    opacity: 0.5;
  }
}
